body
  h1 漢字組み立て工場にユーザー情報を削除しました。
  
  p この度は漢字組み立て工場に
  p このメールに心当たりがない場合はお手数ですが以下のメールアドレスまでご連絡ください。
  p その際ですがユーザーの確認のためユーザー名、メールアドレスも合わせて表記いただけますと大変助かりますのでよろしくお願いします。

  p メールアドレス: a(href="mailto:kanji.assembly@gmail.com") kanji.assembly@gmail.com
  
