body
  h1 漢字組み立て工場にユーザー情報を削除しました。
  
  p この度は漢字組み立て工場をご利用いただき誠にありがとうございました。
    | ユーザー情報の削除が完了いたしましたのでご報告のメールを送信いたします。
    | またご利用いただけることを心からお待ちしております。
  p このメールに心当たりがない場合はお手数ですが以下のメールアドレスまでご連絡ください。
    | その際ですがユーザー確認のためユーザー名、メールアドレスも合わせて表記いただけますと大変助かりますのでよろしくお願いします。

  p メールアドレス:
    a(href="mailto:kanji.assembly@gmail.com") kanji.assembly@gmail.com
  
