body
  h1 このメールは漢字組み立て工場のパスワード再設定用メールになります。

  p 以下のURLにアクセスし、パスワードを再設定してください。

  p
    a(href='' + url) #{url}
  
  p 
    | なお上記のURLの有効期限は10分となっております。
    | 有効期限を超えた場合はお手数ですがもう一度登録作業をやり直してください。
  
  p このメールに心当たりがない場合は無視してください。
  
